.imgs{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width:700px;
    height:400px;
}

.caption{
    text-align: center;
}
.button {
display: flex;
 margin-right: auto;
    margin-left: auto;
height: 20px;
border: 2px solid #333;
}

.hidden{
    display:none
}